body {
  background-color: rgb(30, 142, 114);
}
p {
  color: rgb(231, 199, 20);
}
.list-group-item {
  display: flex;
  justify-content: space-between;
}
.food-heading {
  color: rgb(234, 137, 10);
  text-align: center;
}

.container {
  margin-top: 200px;
}
